body {	
	font-family:Georgia,Serif;
	background-color: #F7EBEB;
	text-align:center;
	margin:auto;
}

.standard {
	color: #570000;
}

a {
	color:#cc0000;
	text-decoration:none;
	font-family:Georgia,Serif;
}

a:hover {
	text-decoration:underline;
	font-style:italic;
}

#sitelinks {
	text-align:center;
	position:fixed;
	background-color:#FFE0CB;
	width:100%;
	margin-top:-1em;
	padding-top:1em;
	padding-bottom:1em;
}

#sitelinks li {
	display:inline;
	padding-left:0.5em;
	padding-right:0.5em;
	font-family:Georgia,Serif;
}

#facemail {
	font-size: 0.9em;
	text-align:center;
	width:100%;
	padding-top:0.5em;
	padding-bottom:1em;
}

#facemail li {
	display:inline;
	padding-left:2em;
	padding-right:2em;
	font-family: Georgia, Serif;
}

#sitefooter {
	font-size:0.85em;
	text-align:center;
	background-color:#FFE0CB;

	padding-bottom: 1em;
}

#foothr {

}

.blueback {
	background-color:#CBFFFF;

	
}

h1 {
	font-size: 2.2em;
	font-style:italic;
	font-weight:bold;
	color:#cc0000;
}

h2 {
	font-size: 1.7em;
	font-style: italic;
	color:#cc0000;
}

h3 {
	font-size: 1.2em;
	font-style: italic;
	color:black;
}

.generaltext {
	font-size:1em;
	max-width:40em;
	margin:auto;
}

ul {
	list-style-type:none;
	padding:0px;
}
